In [1]:
import numpy as np
import pandas as pd
import matplotlib as mql
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt
from numpy.random import standard_normal as stn
from datetime import datetime
from sklearn import linear_model
import statsmodels.api as sm
import scipy.stats as scs
from scipy.stats import norm
import math
from cvxopt import matrix, solvers
import scipy.optimize as sco
from scipy.fftpack import fft,ifft
from sympy import *
from sklearn.decomposition import PCA
import json
from cvxopt import matrix, solvers

E:\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
import pandas as pd
print(pd.__version__)

1.0.3

## Bl model

先随便用几个ETF数据来做,下面是数据处理得到年化log return

In [3]:
icode=['AAPL','BA','TSLA','BABA','GS','GOOG','AMZN','TM','F','JPM']
data=pdr.get_data_yahoo(icode,start='2017-01-01',end='2019-01-01')   # For data
data_close=data['Adj Close']

icode2=['^IRX']
risk_free=pdr.get_data_yahoo(icode2,start='2017-01-01',end='2019-01-01')
risk_free=risk_free['Close']

In [4]:
data_close.head()

Symbols,AAPL,BA,TSLA,BABA,GS,GOOG,AMZN,TM,F,JPM
Date,,,,,,,,,,
2017-01-03,110.691154,145.533676,216.990005,88.599998,229.168716,786.140015,753.669983,109.734962,10.415051,79.052376
2017-01-04,110.567276,147.063477,226.990005,90.510002,230.648605,786.900024,757.179993,112.178650,10.894855,79.198174
2017-01-05,111.129562,147.146927,226.750000,94.370003,228.931519,794.020020,780.450012,111.484436,10.563956,78.469170
2017-01-06,112.368469,147.508514,229.009995,93.889999,232.327744,806.150024,795.989990,111.197479,10.555683,78.478271
2017-01-09,113.397697,146.785309,231.279999,94.720001,230.420914,806.650024,796.919983,110.836479,10.448141,78.532944

In [5]:
returns = np.log(data_close.shift(-1)/data_close)
returns=returns.dropna(axis=0,how='all')     #kill nan
Cov=returns.cov()
annual_returns=returns*252

In [6]:
annual_returns.head()

Symbols,AAPL,BA,TSLA,BABA,GS,GOOG,AMZN,TM,F,JPM
Date,,,,,,,,,,
2017-01-03,-0.282180,2.635113,11.353783,5.374788,1.622093,0.243506,1.170896,5.550215,11.349750,0.464340
2017-01-04,1.278290,0.142955,-0.266591,10.524248,-1.883057,2.269882,7.627963,-1.564339,-7.772399,-2.330353
2017-01-05,2.793830,0.618486,2.499225,-1.285043,3.710990,3.820619,4.968411,-0.649475,-0.197430,0.029229
2017-01-06,2.297663,-1.238546,2.485588,2.217929,-2.076824,0.156250,0.294252,-0.819443,-2.580562,0.175496
2017-01-09,0.254038,1.190968,-1.541026,5.343697,-0.332206,-0.581755,-0.322735,0.042096,4.351754,0.729936

In [7]:
risk_free=risk_free/100

### BL model 建立
#### $\mu$

In [8]:
mu=np.mean(annual_returns)
mu

Symbols
AAPL    0.169469
BA      0.385788
TSLA    0.215126
BABA    0.219486
GS     -0.172359
GOOG    0.138631
AMZN    0.346854
TM      0.021575
F      -0.196012
JPM     0.082235
dtype: float64

#### $r_f$

In [9]:
rf=risk_free.mean()[0]
rf

0.014200682729243259

#### $\Sigma$

In [10]:
Cov=Cov*252

In [11]:
Cov.head()

Symbols,AAPL,BA,TSLA,BABA,GS,GOOG,AMZN,TM,F,JPM
Symbols,,,,,,,,,,
AAPL,0.056962,0.026320,0.035018,0.035597,0.025481,0.034471,0.043662,0.015030,0.012213,0.019482
BA,0.026320,0.064442,0.028154,0.031532,0.028079,0.028681,0.034109,0.017858,0.014637,0.023519
TSLA,0.035018,0.028154,0.229940,0.041285,0.023631,0.034706,0.045234,0.012347,0.023461,0.019655
BABA,0.035597,0.031532,0.041285,0.100194,0.027906,0.043376,0.051852,0.017723,0.018471,0.020923
GS,0.025481,0.028079,0.023631,0.027906,0.052992,0.027371,0.028061,0.017244,0.022015,0.035589

#### risk aversion L

In [12]:
L=1

#### $x_{mkt}$

In [13]:
mkt=pdr.get_quote_yahoo(icode)['marketCap']
mkt=mkt/(np.sum(mkt))

In [14]:
mkt

AAPL    0.268756
BA      0.016334
TSLA    0.031269
BABA    0.120941
GS      0.014179
GOOG    0.186617
AMZN    0.254360
TM      0.038819
F       0.004717
JPM     0.064008
Name: marketCap, dtype: float64

In [15]:
mu

Symbols
AAPL    0.169469
BA      0.385788
TSLA    0.215126
BABA    0.219486
GS     -0.172359
GOOG    0.138631
AMZN    0.346854
TM      0.021575
F      -0.196012
JPM     0.082235
dtype: float64

#### Directly $x_{hist}$

In [19]:
#(a)
num=len(icode)
e=np.zeros(num)+1

def statistics1(weights):
    
    weights=np.array(weights)
    
    Mark1=np.dot(mu.T,weights)
    Mark2=(1-np.dot(e.T,weights))*rf

    
    
    return [Mark1+Mark2]

def max_Mark(weights):
    
    return -1*statistics1(weights)[0]

cons = (
       {'type':'ineq', 'fun':lambda x: -np.sqrt(np.dot(np.dot(x.T,Cov),x))+L}
       )
bnds = tuple((0,100) for x in range(num))
hist = sco.minimize(max_Mark, num*[1./num,], method = 'SLSQP', constraints = cons)
print(hist)

     fun: -3.032992311088165
     jac: array([-0.15526837, -0.37158775, -0.20092499, -0.20528579,  0.18656015,
       -0.12443   , -0.33265305, -0.00737458,  0.21021265, -0.06803396])
 message: 'Optimization terminated successfully.'
    nfev: 337
     nit: 28
    njev: 28
  status: 0
 success: True
       x: array([ 0.15811355,  2.34957473,  0.09811522,  0.29297099, -5.25642254,
       -0.50310169,  1.35497823, -0.3887783 , -1.77813722,  4.43331816])

In [52]:
L

1

In [58]:
import cvxpy as cvx
x = cvx.Variable((10,1))
# sigma_bar = cvx.Variable((10,10))
rf = rf
# x = cp.Variable((10,1))
e = e.reshape(-1,1)
I = np.identity(11)


# sigma_bar.dot(x_mkt)
Cons = [
    np.dot(np.dot(x.T,Cov),x)<=L**2
]
objective = cvx.Maximize(np.dot(u.T,x)+(1-np.dot(e.T,x))*rf)
prob = cvx.Problem(objective, Cons)
prob.solve(solver='CVXOPT')  # Returns the optimal value.
print("status:", prob.status)
print("optimal value", prob.value)
# print("optimal var", x.value, y.value)

Exception: Cannot evaluate the truth value of a constraint or chain constraints, e.g., 1 >= x >= 0.

In [22]:
x_hist=hist.x/np.sum(hist.x)*100
x_hist

array([  20.78715171,  308.89804495,   12.89918565,   38.51682773,
       -691.06065059,  -66.14266185,  178.13867273,  -51.11259303,
       -233.77128706,  582.84730975])

In [ ]:
#,options={'maxiter': 100000}

#### BL model
$\delta$

In [23]:
delta=1.25

$P$

In [24]:
P=[-0.1,0,0,-0.2,0.4,-0.1,0.3,0,-0.4,0.1]
P=np.array(P)

$\hat{\Sigma}$

In [25]:
Cov1=Cov

In [26]:
Cov

Symbols,AAPL,BA,TSLA,BABA,GS,GOOG,AMZN,TM,F,JPM
Symbols,,,,,,,,,,
AAPL,0.056962,0.026320,0.035018,0.035597,0.025481,0.034471,0.043662,0.015030,0.012213,0.019482
BA,0.026320,0.064442,0.028154,0.031532,0.028079,0.028681,0.034109,0.017858,0.014637,0.023519
TSLA,0.035018,0.028154,0.229940,0.041285,0.023631,0.034706,0.045234,0.012347,0.023461,0.019655
BABA,0.035597,0.031532,0.041285,0.100194,0.027906,0.043376,0.051852,0.017723,0.018471,0.020923
GS,0.025481,0.028079,0.023631,0.027906,0.052992,0.027371,0.028061,0.017244,0.022015,0.035589
GOOG,0.034471,0.028681,0.034706,0.043376,0.027371,0.051729,0.048904,0.018814,0.015602,0.020515
AMZN,0.043662,0.034109,0.045234,0.051852,0.028061,0.048904,0.086385,0.017119,0.014872,0.020684
TM,0.015030,0.017858,0.012347,0.017723,0.017244,0.018814,0.017119,0.026472,0.014425,0.014592
F,0.012213,0.014637,0.023461,0.018471,0.022015,0.015602,0.014872,0.014425,0.053109,0.020259
JPM,0.019482,0.023519,0.019655,0.020923,0.035589,0.020515,0.020684,0.014592,0.020259,0.037703

In [29]:
mkt

AAPL    0.268756
BA      0.016334
TSLA    0.031269
BABA    0.120941
GS      0.014179
GOOG    0.186617
AMZN    0.254360
TM      0.038819
F       0.004717
JPM     0.064008
Name: marketCap, dtype: float64

$\hat{r}$

In [30]:
r_hat=rf*e+2*delta*np.dot(Cov,mkt)

In [31]:
e

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [32]:
r_hat

array([0.11651814, 0.08798639, 0.11975029, 0.13241186, 0.08287265,
       0.11585523, 0.14803261, 0.05670152, 0.05320767, 0.06778732])

$q$

In [33]:
q=np.dot(P.T,r_hat)
q=np.array([q])

In [34]:
q

array([0.0133348])

$\Omega$

In [35]:
mm=1
r0=1/24
r1=0.02*r0
rr=[r1]

In [36]:
Cov

Symbols,AAPL,BA,TSLA,BABA,GS,GOOG,AMZN,TM,F,JPM
Symbols,,,,,,,,,,
AAPL,0.056962,0.026320,0.035018,0.035597,0.025481,0.034471,0.043662,0.015030,0.012213,0.019482
BA,0.026320,0.064442,0.028154,0.031532,0.028079,0.028681,0.034109,0.017858,0.014637,0.023519
TSLA,0.035018,0.028154,0.229940,0.041285,0.023631,0.034706,0.045234,0.012347,0.023461,0.019655
BABA,0.035597,0.031532,0.041285,0.100194,0.027906,0.043376,0.051852,0.017723,0.018471,0.020923
GS,0.025481,0.028079,0.023631,0.027906,0.052992,0.027371,0.028061,0.017244,0.022015,0.035589
GOOG,0.034471,0.028681,0.034706,0.043376,0.027371,0.051729,0.048904,0.018814,0.015602,0.020515
AMZN,0.043662,0.034109,0.045234,0.051852,0.028061,0.048904,0.086385,0.017119,0.014872,0.020684
TM,0.015030,0.017858,0.012347,0.017723,0.017244,0.018814,0.017119,0.026472,0.014425,0.014592
F,0.012213,0.014637,0.023461,0.018471,0.022015,0.015602,0.014872,0.014425,0.053109,0.020259
JPM,0.019482,0.023519,0.019655,0.020923,0.035589,0.020515,0.020684,0.014592,0.020259,0.037703

In [37]:
A1=Cov*r0
A2=np.zeros((num,mm))
A3=np.zeros((mm,num))
A4=np.diag(rr)

Omega1=np.concatenate((A1,A2),axis=1)
Omega2=np.concatenate((A3,A4),axis=1)
Omega=np.concatenate((Omega1,Omega2),axis=0)
# A1=np.insert(Cov*r0,-1)

In [38]:
Omega

array([[0.00237342, 0.00109666, 0.00145909, 0.00148323, 0.00106172,
        0.00143629, 0.00181924, 0.00062627, 0.00050889, 0.00081174,
        0.        ],
       [0.00109666, 0.00268507, 0.00117308, 0.00131383, 0.00116996,
        0.00119506, 0.00142122, 0.00074406, 0.00060987, 0.00097996,
        0.        ],
       [0.00145909, 0.00117308, 0.00958084, 0.00172022, 0.00098462,
        0.00144608, 0.00188477, 0.00051444, 0.00097755, 0.00081895,
        0.        ],
       [0.00148323, 0.00131383, 0.00172022, 0.00417473, 0.00116273,
        0.00180734, 0.00216052, 0.00073845, 0.00076964, 0.00087181,
        0.        ],
       [0.00106172, 0.00116996, 0.00098462, 0.00116273, 0.002208  ,
        0.00114047, 0.0011692 , 0.00071848, 0.00091728, 0.00148288,
        0.        ],
       [0.00143629, 0.00119506, 0.00144608, 0.00180734, 0.00114047,
        0.00215536, 0.00203767, 0.00078392, 0.00065009, 0.00085481,
        0.        ],
       [0.00181924, 0.00142122, 0.00188477, 0.00216052, 0.0011692 ,
        0.00203767, 0.00359939, 0.00071331, 0.00061965, 0.00086182,
        0.        ],
       [0.00062627, 0.00074406, 0.00051444, 0.00073845, 0.00071848,
        0.00078392, 0.00071331, 0.00110299, 0.00060105, 0.000608  ,
        0.        ],
       [0.00050889, 0.00060987, 0.00097755, 0.00076964, 0.00091728,
        0.00065009, 0.00061965, 0.00060105, 0.00221286, 0.00084411,
        0.        ],
       [0.00081174, 0.00097996, 0.00081895, 0.00087181, 0.00148288,
        0.00085481, 0.00086182, 0.000608  , 0.00084411, 0.00157097,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.00083333]])

$\Sigma^{BL}$

In [39]:
B1=np.eye(num,num)
P=P.reshape(1,num)
B=np.concatenate((B1,P),axis=0)

In [40]:
B

array([[ 1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ],
       [ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  1. ],
       [-0.1,  0. ,  0. , -0.2,  0.4, -0.1,  0.3,  0. , -0.4,  0.1]])

In [41]:
np.linalg.inv(Omega)

array([[  827.02222701,   -41.97199187,   -30.57956891,   -33.91816577,
          -87.84510336,  -214.78658022,  -196.56840184,   -56.5656583 ,
           38.5754355 ,   -57.59469167,     0.        ],
       [  -41.97199187,   592.96192698,   -12.66026147,   -34.06093181,
          -68.83384558,   -53.9839313 ,   -72.86585266,  -151.629794  ,
           24.05234095,  -142.61558566,     0.        ],
       [  -30.57956891,   -12.66026147,   122.76433953,   -12.88945974,
            8.32810941,   -22.41084218,   -23.54255945,    25.53842708,
          -33.46457922,    -7.80040837,     0.        ],
       [  -33.91816577,   -34.06093181,   -12.88945974,   405.20153317,
          -22.1796621 ,  -185.55708889,   -89.37455103,    -8.14088273,
          -31.55331609,    11.6633268 ,     0.        ],
       [  -87.84510336,   -68.83384558,     8.32810941,   -22.1796621 ,
         1382.65551302,  -156.92208813,    -2.15433477,   -59.61475853,
          -60.05198492, -1066.92173229,     0.        ],
       [ -214.78658022,   -53.9839313 ,   -22.41084218,  -185.55708889,
         -156.92208813,  1425.06365868,  -436.53088456,  -335.30343929,
           -2.5969294 ,     2.66391084,     0.        ],
       [ -196.56840184,   -72.86585266,   -23.54255945,   -89.37455103,
           -2.15433477,  -436.53088456,   696.17048546,    68.81629425,
            8.86524288,    35.14481904,     0.        ],
       [  -56.5656583 ,  -151.629794  ,    25.53842708,    -8.14088273,
          -59.61475853,  -335.30343929,    68.81629425,  1449.06324547,
         -188.55227666,  -143.51944269,     0.        ],
       [   38.5754355 ,    24.05234095,   -33.46457922,   -31.55331609,
          -60.05198492,    -2.5969294 ,     8.86524288,  -188.55227666,
          614.31100318,  -203.85427177,     0.        ],
       [  -57.59469167,  -142.61558566,    -7.80040837,    11.6633268 ,
        -1066.92173229,     2.66391084,    35.14481904,  -143.51944269,
         -203.85427177,  1904.31414251,     0.        ],
       [    0.        ,     0.        ,     0.        ,     0.        ,
            0.        ,     0.        ,     0.        ,     0.        ,
            0.        ,     0.        ,  1200.        ]])

In [42]:
Cov1

Symbols,AAPL,BA,TSLA,BABA,GS,GOOG,AMZN,TM,F,JPM
Symbols,,,,,,,,,,
AAPL,0.056962,0.026320,0.035018,0.035597,0.025481,0.034471,0.043662,0.015030,0.012213,0.019482
BA,0.026320,0.064442,0.028154,0.031532,0.028079,0.028681,0.034109,0.017858,0.014637,0.023519
TSLA,0.035018,0.028154,0.229940,0.041285,0.023631,0.034706,0.045234,0.012347,0.023461,0.019655
BABA,0.035597,0.031532,0.041285,0.100194,0.027906,0.043376,0.051852,0.017723,0.018471,0.020923
GS,0.025481,0.028079,0.023631,0.027906,0.052992,0.027371,0.028061,0.017244,0.022015,0.035589
GOOG,0.034471,0.028681,0.034706,0.043376,0.027371,0.051729,0.048904,0.018814,0.015602,0.020515
AMZN,0.043662,0.034109,0.045234,0.051852,0.028061,0.048904,0.086385,0.017119,0.014872,0.020684
TM,0.015030,0.017858,0.012347,0.017723,0.017244,0.018814,0.017119,0.026472,0.014425,0.014592
F,0.012213,0.014637,0.023461,0.018471,0.022015,0.015602,0.014872,0.014425,0.053109,0.020259
JPM,0.019482,0.023519,0.019655,0.020923,0.035589,0.020515,0.020684,0.014592,0.020259,0.037703

In [43]:
Cov2=np.linalg.inv(np.dot(np.dot(B.T,np.linalg.inv(Omega)),B))
Cov2

array([[0.0023539 , 0.0010673 , 0.0014573 , 0.0015143 , 0.00099731,
        0.00141657, 0.0017542 , 0.00062248, 0.00056816, 0.00077394],
       [0.0010673 , 0.0026409 , 0.00117039, 0.00136058, 0.00107306,
        0.00116538, 0.00132338, 0.00073837, 0.00069906, 0.0009231 ],
       [0.0014573 , 0.00117039, 0.00958068, 0.00172307, 0.00097873,
        0.00144427, 0.00187882, 0.00051409, 0.00098297, 0.00081549],
       [0.0015143 , 0.00136058, 0.00172307, 0.00412525, 0.00126529,
        0.00183875, 0.00226407, 0.00074447, 0.00067525, 0.00093199],
       [0.00099731, 0.00107306, 0.00097873, 0.00126529, 0.00199543,
        0.00107536, 0.00095458, 0.00070599, 0.00111291, 0.00135814],
       [0.00141657, 0.00116538, 0.00144427, 0.00183875, 0.00107536,
        0.00213542, 0.00197194, 0.0007801 , 0.00071001, 0.0008166 ],
       [0.0017542 , 0.00132338, 0.00187882, 0.00226407, 0.00095458,
        0.00197194, 0.00338268, 0.0007007 , 0.00081718, 0.00073588],
       [0.00062248, 0.00073837, 0.00051409, 0.00074447, 0.00070599,
        0.0007801 , 0.0007007 , 0.00110226, 0.00061255, 0.00060067],
       [0.00056816, 0.00069906, 0.00098297, 0.00067525, 0.00111291,
        0.00071001, 0.00081718, 0.00061255, 0.00203282, 0.00095891],
       [0.00077394, 0.0009231 , 0.00081549, 0.00093199, 0.00135814,
        0.0008166 , 0.00073588, 0.00060067, 0.00095891, 0.00149777]])

In [44]:
Cov_BL=Cov1+Cov2
Cov_BL

Symbols,AAPL,BA,TSLA,BABA,GS,GOOG,AMZN,TM,F,JPM
Symbols,,,,,,,,,,
AAPL,0.059316,0.027387,0.036475,0.037112,0.026478,0.035888,0.045416,0.015653,0.012781,0.020256
BA,0.027387,0.067083,0.029324,0.032892,0.029152,0.029847,0.035433,0.018596,0.015336,0.024442
TSLA,0.036475,0.029324,0.239521,0.043008,0.024610,0.036150,0.047113,0.012861,0.024444,0.020470
BABA,0.037112,0.032892,0.043008,0.104319,0.029171,0.045215,0.054116,0.018467,0.019147,0.021855
GS,0.026478,0.029152,0.024610,0.029171,0.054987,0.028447,0.029015,0.017950,0.023128,0.036947
GOOG,0.035888,0.029847,0.036150,0.045215,0.028447,0.053864,0.050876,0.019594,0.016312,0.021332
AMZN,0.045416,0.035433,0.047113,0.054116,0.029015,0.050876,0.089768,0.017820,0.015689,0.021420
TM,0.015653,0.018596,0.012861,0.018467,0.017950,0.019594,0.017820,0.027574,0.015038,0.015193
F,0.012781,0.015336,0.024444,0.019147,0.023128,0.016312,0.015689,0.015038,0.055141,0.021218
JPM,0.020256,0.024442,0.020470,0.021855,0.036947,0.021332,0.021420,0.015193,0.021218,0.039201

$\mu^{BL}$

In [45]:
C3=np.concatenate((r_hat,q),axis=0)
C3

array([0.11651814, 0.08798639, 0.11975029, 0.13241186, 0.08287265,
       0.11585523, 0.14803261, 0.05670152, 0.05320767, 0.06778732,
       0.0133348 ])

In [46]:
C1=np.dot(Cov2,B.T)
C2=np.dot(np.linalg.inv(Omega),C3)
mu_BL=np.dot(C1,C2)

In [47]:
mu_BL

array([0.11651814, 0.08798639, 0.11975029, 0.13241186, 0.08287265,
       0.11585523, 0.14803261, 0.05670152, 0.05320767, 0.06778732])

In [48]:
mu

Symbols
AAPL    0.169469
BA      0.385788
TSLA    0.215126
BABA    0.219486
GS     -0.172359
GOOG    0.138631
AMZN    0.346854
TM      0.021575
F      -0.196012
JPM     0.082235
dtype: float64

#### BL result

In [49]:
num=len(icode)
e=np.zeros(num)+1

def statistics2(weights):
    
    weights=np.array(weights)
    
    Mark1=np.dot(mu_BL.T,weights)
    Mark2=(1-np.dot(e.T,weights))*rf

    
    
    return [Mark1+Mark2]

def max_Mark1(weights):
    
    return -1*statistics2(weights)[0]

cons = (
       {'type':'ineq', 'fun':lambda x: -np.sqrt(np.dot(np.dot(x.T,Cov_BL),x))+L}
       )
bnds = tuple((0,20) for x in range(num))
bl = sco.minimize(max_Mark1, num*[1./num,], method = 'SLSQP',  constraints = cons)
print(bl)

     fun: -0.5176978044177507
     jac: array([-0.10231747, -0.07378571, -0.10554961, -0.11821119, -0.06867197,
       -0.10165455, -0.13383193, -0.04250084, -0.03900699, -0.05358664])
 message: 'Optimization terminated successfully.'
    nfev: 276
     nit: 23
    njev: 23
  status: 0
 success: True
       x: array([1.2917312 , 0.08848955, 0.14920354, 0.57004043, 0.09523376,
       0.88055602, 1.2124886 , 0.18717806, 0.00923883, 0.28047978])

## MVIO model

In [ ]:
delta

$\bar{\Sigma}$

In [ ]:
C_new=2*delta*Cov

In [ ]:
mu_BL

In [ ]:
mkt

In [ ]:
##### special case with sigma = 0.5 * delta * sigma : BL
import cvxpy as cvx
mu_io = cvx.Variable((10,1))
# sigma_bar = cvx.Variable((10,10))
t = cvx.Variable((1,1))
u = cvx.Variable((11,1))
rf = rf
Omega = Omega 
x_mkt = np.array(mkt).reshape(-1,1)
# x = cp.Variable((10,1))
e = e.reshape(-1,1)
I = np.identity(11)
q = q.reshape(-1,1)


tmp = 1.25*2*np.array(Cov).dot(np.array(x_mkt).reshape(-1,1))
# sigma_bar.dot(x_mkt)
Cons = [
    u - np.linalg.inv(np.sqrt(Omega)) @ cvx.vstack([mu_io - rf*e - tmp, \
                                                          P@mu_io - q]) == 0,
    cvx.vstack([ cvx.hstack([t, u.T]), cvx.hstack([u, I]) ]) >> 0,
#     sigma_bar >= 0
]
objective = cvx.Minimize(t)
prob = cvx.Problem(objective, Cons)
prob.solve(solver='CVXOPT')  # Returns the optimal value.
print("status:", prob.status)
print("optimal value", prob.value)
# print("optimal var", x.value, y.value)

In [ ]:
mu_io.value

In [ ]:
Cov

In [ ]:
mu_io.value

In [ ]:
from cvxpy.reductions.solvers.defines import INSTALLED_SOLVERS
INSTALLED_SOLVERS

In [ ]:
q

In [ ]:
np.savetxt('Omega.csv', Omega, delimiter = ',')
np.savetxt('xmkt.csv', x_mkt, delimiter = ',')
np.savetxt('Cov.csv', Cov, delimiter = ',')

In [ ]:
##### general case with sigma as vriable.
import cvxpy as cvx
mu_io = cvx.Variable((10,1))
sigma_bar = cvx.Variable((10,10))
t = cvx.Variable((1,1))
u = cvx.Variable((11,1))
rf = rf
Omega = Omega 
x_mkt = np.array(mkt).reshape(-1,1)
e = e.reshape(-1,1)
I = np.identity(11)
q = q.reshape(-1,1)

# sigma_bar.dot(x_mkt)
Cons = [
    u - np.linalg.inv(np.sqrt(Omega)) @ cvx.vstack([mu_io - rf*e - sigma_bar@x_mkt, \
                                                          P @ mu_io - q]) == 0,
    cvx.vstack([ cvx.hstack([t, u.T]), cvx.hstack([u, I])]) >> 0,
    sigma_bar >= 0
]

objective = cvx.Minimize(t)
prob = cvx.Problem(objective, Cons)
prob.solve(solver='CVXOPT')  # Returns the optimal value.
print("status:", prob.status)
print("optimal value", prob.value)
# print("optimal var", x.value, y.value)

In [ ]:
q

In [ ]:
print(cvx.installed_solvers())

In [ ]:
mu_io.value

In [ ]:
C_new

In [ ]:
alpha=0.87
ee=10**(-8)
value,vector=np.linalg.eig(C_new)

In [ ]:
value

In [ ]:
vector[:,0]

In [ ]:
vector[0]

In [ ]:
print(cvx.installed_solvers())

In [ ]:
Cov

In [ ]:
##### general case with sigma as vriable.
alpha=0.87
ee=10**(-8)
value,vector=np.linalg.eig(C_new)


import cvxpy as cvx
mu_io = cvx.Variable((10,1))
sigma_bar = cvx.Variable((10,10))
t = cvx.Variable((1,1))
u = cvx.Variable((11,1))
rf = rf
Omega = Omega 
x_mkt = np.array(mkt).reshape(-1,1)
e = e.reshape(-1,1)
I = np.identity(11)
q = q.reshape(-1,1)

# sigma_bar.dot(x_mkt)
Cons = [
    u - np.linalg.inv(np.sqrt(Omega)) @ cvx.vstack([mu_io - rf*e - sigma_bar@x_mkt, \
                                                          P @ mu_io - q]) == 0,
    cvx.vstack([ cvx.hstack([t, u.T]), cvx.hstack([u, I])]) >> 0,
    value[0:3].sum()>=alpha*cvx.trace(sigma_bar),
    cvx.norm(sigma_bar@vector[:,0]-value[0]*vector[:,0],p=2)<=ee,
    cvx.norm(sigma_bar@vector[:,1]-value[1]*vector[:,1],p=2)<=ee,
    cvx.norm(sigma_bar@vector[:,2]-value[2]*vector[:,2],p=2)<=ee,
    sigma_bar >= 0
]

objective = cvx.Minimize(t)
prob = cvx.Problem(objective, Cons)
prob.solve(solver='CVXOPT')  # Returns the optimal value.
print("status:", prob.status)
print("optimal value", prob.value)
# print("optimal var", x.value, y.value)

In [ ]:
mu_io.value

In [ ]:
num=len(icode)
e=np.zeros(num)+1

def statistics2(weights):
    
    weights=np.array(weights)
    
    Mark1=np.dot(mu_io.value.T,weights)
    Mark2=(1-np.dot(e.T,weights))*rf

    
    
    return [Mark1+Mark2]

def max_Mark1(weights):
    
    return -1*statistics2(weights)[0]

cons = ({'type':'ineq', 'fun':lambda x: np.sum(x)-1},
       {'type':'ineq', 'fun':lambda x: -np.sqrt(np.dot(np.dot(x.T,Cov_BL),x))+L}
       )
bnds = tuple((0,1) for x in range(num))
mvio = sco.minimize(max_Mark1, num*[1./num,], method = 'SLSQP',  constraints = cons)
print(mvio)

In [ ]:
returns

In [ ]:
x_mkt,mvio.x,bl.x

In [ ]:
x_mkt.sum()

In [ ]:
bl.x.sum()

In [ ]:
mvio_w=mvio.x/np.sum(mvio.x)
bl_w=bl.x/np.sum(bl.x)

In [ ]:
mvio_return=np.dot(returns,mvio_w)
mkt_return=np.dot(returns,x_mkt)
bl_return=np.dot(returns,bl_w)

In [ ]:
bl_w,x_mkt

In [ ]:
plt.plot(np.cumprod(1+mvio_return), color='red')
plt.plot(np.cumprod(1+mkt_return), color='blue')
plt.plot(np.cumprod(1+bl_return), color='green')

In [ ]:
np.savetxt('new.csv', C_new, delimiter = ',')